.myForm{
	position: relative;
	top:15%;
	margin: 10%;
}
.myForm>input[type='text']{
	width: 100%;
    border-style: none;
    height: 30px;
    border-bottom: 2px solid red;
    margin-bottom: 10px;
}
.myForm>input[type='password']{
	width: 100%;
    border-style: none;
    height: 30px;
    border-bottom: 2px solid red;
    margin-bottom: 10px;
}
.myForm>button{
	width: 100%;
    border-style: none;
    height: 30px;
    margin-bottom: 10px;
}